<!--The content below is only a placeholder and can be replaced.-->
<!-- By Mohamed Husain -->
<div class="overlay {{ (isMatch===1)?'block':'' }}">
  <!-- Match Label -->
  <div><span class="match-label">It's a Match</span></div>
  <!-- Kitten images -->
  <div class="kittens">
    <!-- Kitten 1 -->
    <div class="compare-img">
      <img *ngIf="isMatch === 1" [src]="items[0].images[0]">
      <div class="my-kitten-name">You</div>
    </div>
    <!-- Kitten 2 -->
    <div class="compare-img">
      <img src="assets/template/css/images/profile-pic.jpg">
      <div *ngIf="isMatch === 1" class="other-kitten-name">{{ items[0].name }}</div>
    </div>
    <!-- Continue playing -->
    <div class="ctn-btn-wrap">
      <div class="ctn-btn" (click)="nextKitten()">Continue playing</div>
    </div>
  </div>
</div>
<!-- Container -->
<div class="container shadow-all">
  <!-- Logo -->
  <div class="logo" title="logo">
    <div class="the-icons span3">
      <i class="demo-icon fireicon-"></i>
      <span class="logo-text">Kittens</span>
    </div>
  </div>
  <!-- Profile picture -->
  <div class="profile-pic">
    <img  src="assets/template/css/images/profile-pic.jpg">
  </div>
  <!-- Card -->
  <div class="card">
    <!-- Kitten images -->
    <span class="msg-label" *ngIf="MessageLabel!=''">{{ MessageLabel }}</span>
    <div  *ngFor="let item of items; let i = index">
      <div class="card-pic animated {{ (i > 0)?'none':'' }} {{ (i==0)?additionalClasses:'' }}">
      <img *ngIf="item.images" [src]="item.images[0]">
      <div class="info">
        <span class="name">{{ item.name }}</span><br>
        <span class="bio">{{ item.bio }}</span>
        <span class="more">Show more <i class="demo-icon info-circledicon-"></i></span>
      </div>
    </div>
    </div>
    <!-- Buttons -->
    <div class="buttons">
      <div class="dislike" (click)="disLike()"><i class="demo-icon cancelicon-"></i></div>
      <div class="superlike" (click)="superLike()"><i class="demo-icon staricon-"></i></div>
      <div class="like" (click)="like()"><i class="demo-icon hearticon-"></i></div>
    </div>
  </div>
</div>
